body {
    background: rgb(117, 111, 111);
    margin-left: 100px;
    margin-right: 200px;
}

h1 {
    color: whitesmoke;
    font-family: fantasy;
}

h2 {
    color: whitesmoke;
    font-family: fantasy;
}

p {
    font-size: 18px;
}

header {
    margin-top: 70px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    width: 30px;
}
